@import url('https://fonts.googleapis.com/css2?family=Ga+Maamli&family=Space+Grotesk:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
}
h1{
    color:aliceblue;
    font-style:italic ;
    font-weight: lighter;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
    font-size: 20px;
    text-align: center;
    font-family: "Ga Maamli", sans-serif;
}
#heading{
   /* background-image: linear-gradient(45deg,black,red); */
    background-image: linear-gradient(to top,rgb(255, 0, 230),transparent),url('aseat/StockCake-Cat\ Coding\ Companion_1720179151.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center ;
    height: 400px;
    padding: 100px 0;
    max-width: 1100px;
    clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);
    /* margin-top: 40px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto; */
    margin: 40px auto;
}
.btn-parent{
    text-align: center;
    margin: 20px 0;
}
.btn{
    background-color: rgb(71, 120, 255);
    padding: 8px 15px;
    color:aliceblue;
    border-style: solid;
    border-width: 1px;
    border-color: chartreuse;
    border-radius: 6px;
    text-align: center;
    font-size: 20px;
    
}